<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Title -->
    <title>
        {{ block "title" . }}
        <!-- Blocks may include default content. -->
        {{ .Site.Title }}
        {{ end }}
    </title>

    <!-- Meta Information -->
    <meta charset="utf-8" />
    <meta name="author" content="Bryan Sebesta">
    <meta name="description" content="Created X/X/X">

    <!-- Styles -->
    <link rel="stylesheet" href="https://use.typekit.net/xkp8ekj.css">
    <link rel="stylesheet" href="/css/style.css?3">

    <!-- Feeds -->
    <link type="application/atom+xml" rel="alternate" href="/feed.xml" title="Blog" />
    <link type="application/atom+xml" rel="alternate" href="/feeds/religion.xml" title="Bryan on Religion" />

</head>

<body id="default-layout">


    <!-- Header Element -->
    <header>
        <h1><a href="#">Bryan Sebesta</a></h1>
        {{ partial "header/nav.html" . }}
    </header>

    <!-- The <main> element shouldn't have a <header> or <footer> element as a direct child. -->
    <main>
        {{ block "main" . }}
        {{ end }}
        {{ block "footer" . }}
        {{ end }}
    </main>

    <div id="banner-bg">&nbsp;</div>
    <!-- <div id="page-hero-bg">&nbsp;</div> -->

</body>

</html>

</body>

</html>