<!DOCTYPE html>
<html lang="en">

<head>

    <title>
        {{ block "title" . }}
        {{ .Site.Title }}{{ with .Page.Title }} – {{ $.Page.Title }}{{ end }}
        {{ end }}
    </title>

    <!-- Meta Information -->
    <meta charset="utf-8" />
    <meta name="author" content="{{ $.Site.Params.Author }}">
    <meta name="description" content="{{ $.Site.Params.Description }}">

    <!-- Disable the Zoom! -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Styles & Art Direction -->
    <!-- <link rel="stylesheet" href="https://use.typekit.net/xkp8ekj.css"> -->
    <link rel="stylesheet" href="/css/style.css?1">

    <!-- Feeds -->
    <link type="application/atom+xml" rel="alternate" href="/feed.xml" title="Blog" />
    <link type="application/atom+xml" rel="alternate" href="/feeds/religion.xml" title="Bryan on Religion" />

</head>

<body>

    <!-- Header & Navigation -->
    <nav id="banner">

        {{ partial "nav.html" . }}

    </nav>

    <!-- Main Content -->
    <main>

        {{ block "main" . }}
        {{ end }}

    </main>

</body>

</html>
