<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
        {{ block "title" . }}
        {{ .Site.Title }}{{ with .Page.Title }} – {{ $.Page.Title }}{{ end }}
        {{ end }}
    </title>

    <meta name="author" content="{{ $.Site.Params.Author }}">

    <!-- Styles & Art Direction -->
    <link rel="stylesheet" href="/css/style.css?1">

    <!-- Feeds -->
    <link rel="alternate" href="/index.xml" type="application/rss+xml" title="All Activity">
    <link rel="alternate" href="/categories/design-and-tech/index.xml" type="application/rss+xml" title="Notes on Design & Tech">
    <link rel="alternate" href="/categories/faith/index.xml" type="application/rss+xml" title="Notes on Faith">
    <link rel="alternate" href="/categories/personal/index.xml" type="application/rss+xml" title="Personal Notes">
    <link rel="alternate" href="/books/index.xml" type="application/rss+xml" title="Book Reviews">

</head>

<body>

    <!-- Header & Navigation -->
    <nav id="banner">

        {{ partial "nav.html" . }}

    </nav>

    <!-- Main Content -->
    <main>

        {{ block "main" . }}
        {{ end }}

    </main>

</body>

</html>
